.red{
    border:solid;
    border-top-right-radius: 15px;
    margin:5px;
    padding:10px;
    color:RGB(127, 26, 26);
    
}
.sumaLabela{
    float:right;
    margin:5px;
}
.dugmedesno{
    float:right;
    margin: 5px;
}
.dugmelevo{
    margin:5px;
}
.temp{
    border: solid 1px RGB(127, 26, 26);
    padding: 5px;
    background-clip: content-box;
    background-color: #ccc;
}
.razmak{
    margin:5px;
    color:RGB(127, 26, 26); 
}
header{
    
    color:white;
    font-size:50px;
    background-color:RGB(127, 26, 26);
    text-align: center;
}
.pretraga{
    margin-top:50px;
    margin-bottom:20px;
    text-align: center;
    
}
.levidiv{
    float:left;
    width:60%;
}
.desnidiv{
    float:left;
    width:40%;
}
.ing{
    float:left;
    width:60%;
}
.ponovoRacunaj{
    border: solid 1px RGB(127, 26, 26);
    float: right;
    margin:5px;
}
.btn{
    margin:2px;
    background-color:RGB(127, 26, 26);
}
#slider {
    width: 720px;
    height: 400px;
    overflow: hidden;
    margin:20px;
    margin-left:180px;
}

#slider .slides {
    display: block;
    width: 6000px;
    height: 400px;
    margin: 0;
    padding: 0;
}

#slider .slide {
    float: left;
    list-style-type: none;
    width: 720px;
    height: 400px;
}


